{% load static %}
<html>
    <head>
        <title>Управление заказами</title>
        <link rel="stylesheet" href="{% static 'css/style.css'%}">
    </head>

    <body>
        <div class="nav">
            <a href="/"><img src="{% static 'img/logo_transparent.png'%}"></a>
            <a href="/clients/"><div>Список клиентов</div></a>
            <a href="/funds/"><div>Список фондов</div></a>
            <a href="/contracts/"><div>Список договоров</div></a>

            <a href="/clients/new/"><div>Добавить клиента</div></a>
            <a href="/funds/new/"><div>Добавить фонд</div></a>
            <a href="/contracts/new/"><div>Добавить договор</div></a>
        </div>

        <div class="content">
            <form method="POST" class="post-form">
                {% csrf_token %} {{ form.as_p }}
                <button type="submit">Save</button>
            </form>
        </div>

    </body>
</html>